* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container1 {
  background: linear-gradient(180deg, #fff, #f7f7f7);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gogoheader1 {
  /* width: 119; */
  display: flex;
  align-items: center;
  gap: 25px;
  height: 10%;
}

.header-right {
  display: flex;
  gap: 30px;
}

.grazy {
  font-size: 15px;
}

.aimr {
  display: flex;
  text-align: auto;
  gap: 5px;
}

.galzuu {
  /* background-color: rgba(214, 214, 213, 1) 65%, ; */
  display: flex;
  margin-top: 30px;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  max-width: 1100px;
  height: 385px;
  margin: auto;
}

.header {
  width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.krezi {
  /* background-color: rgba(128, 128, 128, 1) 100%; */
  display: flex;
  margin-left: auto;
}
.flex {
  display: flex;
}
.zaza {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 542.5px;
  height: 264.6px;

  background: rgb(253, 254, 255);
  background: linear-gradient(
    90deg,
    rgba(253, 254, 255, 1) 0%,
    rgba(214, 214, 213, 1) 65%,
    rgba(128, 128, 128, 1) 100%
  );
}

.neg {
  display: flex;
  margin: auto;
  width: 1100px;
}
.pine {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
}
.baatar {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
}
.bilee {
  width: 300px;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  justify-content: center;
}
.ho {
  margin-top: 10px;
}
.container2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0px 287px;
  padding: 0px 40px;
  margin: auto;
}
.title {
  display: flex;

  /* justify-content: center; */

  padding: 20px;
}
.width-1100 {
  width: 1100px;
  margin: auto;
  background-color: white;
}
.lol {
  display: flex;
  justify-content: center;
  padding: 0px 40px;
}

.lmao {
  background-color: red;
  max-width: 690px;
  padding: 30px;
  height: 3239.37px;
}

.little {
  display: flex;
  justify-content: start;
  gap: 30px;
}
.tiitle2 {
  display: flex;
  margin-bottom: 10px;
  width: 830px;
  height: 3258.15px;
  padding: 0px 0px 0px 140px;
}

.hard {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 15px;
}
.title3 {
  padding: 0px 0px 0px 140px;
  width: 410px;
  height: 3259.37px;
  background-color: yellow;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  background-color: rgb(232, 232, 232);
  padding: 5px 15px;
  border-radius: 17px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.arrow:hover {
  padding: 5px 25px;
  background-color: white;
}

.arrow svg {
  transition: all 0.3s ease-out;
}

.arrow:hover svg {
  transform: rotate(35deg);
}

title4 {
  margin: 0px 0px 50px;
  display: flex;
  text-align: justify;
}
.lala {
  margin: 10px 0px 0px;
}
.smoll {
}
.zasnaa {
  display: flex;
  margin: 0px 0px 50px;
}
.ydralt1 {
}

.ydralt2 {
}

.abu {
  margin: 30px 0px 0px;
  padding: 30px 50px;
}

.afk {
}

.baabar {
}
