* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container1 {
  background: linear-gradient(180deg, #fff, #f7f7f7);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gogoheader1 {
  /* width: 119; */
  display: flex;
  align-items: center;
  gap: 25px;
  height: 10%;
}

.header-right {
  display: flex;
  gap: 30px;
}

.grazy {
  font-size: 15px;
}

.aimr {
  display: flex;
  text-align: auto;
  gap: 5px;
}

.galzuu {
  /* background-color: rgba(214, 214, 213, 1) 65%, ; */
  display: flex;
  margin-top: 30px;
  padding-left: 200px;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  max-width: 1115px;
  height: 385px;
  
}

.header {
  width: 100%;
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.krezi {
  /* background-color: rgba(128, 128, 128, 1) 100%; */
  display: flex;
  margin-left: auto;
}

.zaza {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 542.5px;
  height: 264.6px;



  background: rgb(253, 254, 255);
  background: linear-gradient(
    90deg,
    rgba(253, 254, 255, 1) 0%,
    rgba(214, 214, 213, 1) 65%,
    rgba(128, 128, 128, 1) 100%
  );
}

.neg {
  display: flex;
  justify-content: space-between;
  padding: 200px;
  margin-bottom: 20px;
}
.pine {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
}
.baatar {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
}
.bilee {
  width: 300px;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  justify-content: center;
}
.ho{
    margin-top: 10px;
    
}
.container2{
    display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
   
}
.title{
 display: flex;
 /* justify-content: center; */
 gap: 10px;
 padding: 20px;



}
.width-1100{
    min-width: 1100px;
    margin: auto;
    background-color: white;
    padding: 30px;
 
    
}
.lol{
  display: flex;
  justify-content: center;


}


.lmao{
  background-color: red;
max-width: 1180px;
margin: auto;
padding: 30px;


}

.little{
  display: flex;
  justify-content: start;
  gap: 30px;
  


}
.tiitle2{
  display: flex;
  margin-bottom: 10px;
 

}

.hard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  padding: 15px;

}